body{
    background-color: black;
}
p{
    font-size: 2vw;
    color: white;
}
h1{
    font-size: 4vw;
    color: white;
}
#Error-box{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
    background-color: darkgray;
    
}